<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="articleDAO" class="park.spring.board.dao.OracleArticleDAO"></bean>
	<bean id="writeArticleService" class="park.spring.board.service.WriteArticleServiceImpl">
		<constructor-arg><ref bean="articleDAO"></ref></constructor-arg>
	</bean>
	<bean id="memberService" class="park.spring.member.service.MemberServiceImpl"></bean>
	<bean id="performanceTraceAdvice" class="park.spring.common.ProfilingAdvice"></bean>

	<aop:config>
		<aop:pointcut expression="execution(public * park.spring.board.service..*(..))" id="publicMethod"/>
		<aop:aspect id="traceAspect1" ref="performanceTraceAdvice">
			<aop:around method="trace" pointcut-ref="publicMethod"/>	
		</aop:aspect>
		<aop:aspect id="traceAspect2" ref="performanceTraceAdvice">
			<aop:around method="trace" pointcut="execution(public * park.spring.member.service..*(..))"/>
		</aop:aspect>

	</aop:config>
</beans>
